.lobbymodal{
    /*width: 1000px !important;
    height: 1000px !important;*/
}
.lobbymodalheader{
    background-color: rgba(174, 136, 53, 0.7);
    border-color:rgba(174, 136, 53, 0.8) !important;
}
.lobbymodalbody{
    background-color: rgba(174, 136, 53, 0.6);
    border-width: 0px;
}
.lobbycolumn{
    left: 5%;
    right: 5%;
    border-width: 0px;
}
.lobbyimage{
    height: 250px;
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}
.lobbymodalfooter{
    background-color: rgba(174, 136, 53, 0.6);
    border-style: none !important;
}
.popovercontent{
    background-color: rgba(174, 136, 53, 0.3) !important;
}
.popovertitle{
    background-color: rgba(174, 136, 53, 0.6) !important;
    text-align: center;
    font-size: xx-large !important;
}