.opponent-player-deck_container-card{
    background: rgba(196, 196, 196, 0.5);
}

#opponent-player-deck_figure-profile-picture{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.life_image-bullet{
    height: 20px;
}

.shelf{
    /*background-image: url("/../../../../public/images/icons/shelf.jpg");*/
    display: inline-flex;
}

.single-shelf{
    /*background-image: url("/../../../../public/images/icons/shelf_single.png");*/
}

.deck-discard-pile_image-card{
    height: 125px;
}

.deck-discard-pile_container{
    display: flex;
    margin-top: 150px;
}