#global_modal{
    width: auto;
}
#global_modal_header{
    background-color: rgba(174, 136, 53, 0.7);
    border-color:rgba(174, 136, 53, 0.8);
}
#global_modal_header_title{
    font-size: x-large;
    width: 100%;
    text-align: center;
}
#global_modal_body{
    background-color: rgba(174, 136, 53, 0.6);
    text-align: center;
}
#global_modal_body_image{
    margin-right: 10px;
    height: 250px;
    display: inline-block;
}
#global_modal_footer{
    background-color: rgba(174, 136, 53, 0.6);
    border: none;
}

.opponent-player-deck_container-card{
    background: rgba(153, 76, 0, 0.5);
    padding-top: 10px;
}

#opponent-player-deck_figure-profile-picture{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

#opponent-player-deck_caption{
    color: white;
}


.life_image-bullet{
    height: 20px;
}

.shelf{
    background-image: url('../../../card_shelf.png');
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 20px;
}

.deck-discard-pile_image-card{
    height: 125px;
}

.deck-discard-pile{
    display: flex;
    justify-content: center;
}

.playing-field-divider{
    width:10px;
    height:auto;
    display:inline-block;
}

/*styling for dead players*/
#opponent-deck_div_gameEnd{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease 5s;
    text-align: center;
    width: 100%;
    z-index: 1;
    color: white;
    font-weight: bold;
}

.gameEnd{
    height: 150px;
}

.death-message{
    background: rgb(0, 0, 0);
    width: 50%;
}

.winner-message{
    background: black;
    color: white;
    text-align: center;
    font-size: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*styling to hightlight who's turn it is*/
#character-image_FigureImage{
    border-color: rgb(255, 251, 0);
    border-width: 5px;
}

#notification{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 1;
    color: black;
    font-weight: bold;
    opacity: 1;
    font-size: 100px;
    animation-name: fadeIn;
    animation-duration: 0.9s;
}

#notification-for-image{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 0.9s;
    text-align: center;
    width: 100%;
    z-index: 1;
    font-weight: bold;
}
.notification-image{
    height: 150px;
}

#notification2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 1;
    color: black;
    font-weight: bold;
    opacity: 1;
    font-size: 50px;
    animation-name: fadeIn;
    animation-duration: 0.9s;
}

#fade{
    animation-delay: 2s;
    animation-duration: 3s;
    animation-name: fadeout;
}

@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#wiggle{
    animation: wiggle 0.5s;
    transform: rotate(0deg);
    /* animation-play-state: paused; */
}
@keyframes wiggle {
    0%{transform: rotate(5deg);}
    5%{transform: rotate(10deg);}
    10%{transform: rotate(15deg);}
    15%{transform: rotate(20deg);}
    20%{transform: rotate(15deg);}
    25%{transform: rotate(10deg);}
    30%{transform: rotate(5deg);}
    35%{transform: rotate(0deg);}
    40%{transform: rotate(-5deg);}
    45%{transform: rotate(-10deg);}
    50%{transform: rotate(-15deg);}
    55%{transform: rotate(-20deg);}
    60%{transform: rotate(-15deg);}
    65%{transform: rotate(-10deg);}
    70%{transform: rotate(-5deg);}
    75%{transform: rotate(0deg);}
    80%{transform: rotate(5deg);}
    85%{transform: rotate(10deg);}
    90%{transform: rotate(15deg);}
    95%{transform: rotate(20deg);}
    100%{transform: rotate(15deg);}
}

#grow{
    animation: grow 1s forwards;
    /* animation-play-state: paused; */
}
#spin{
    animation: spin 1s;
}
@keyframes spin {
    0%{transform: rotate(36deg); }
    2%{transform: rotate(72deg); }
    4%{transform: rotate(108deg); }
    6%{transform: rotate(144deg);}
    8%{transform: rotate(180deg);}
    10%{transform: rotate(216deg); }
    12%{transform: rotate(252deg); }
    14%{transform: rotate(288deg); }
    16%{transform: rotate(324deg);}
    18%{transform: rotate(360deg); }
    20%{transform: rotate(396deg); }
    22%{transform: rotate(432deg); }
    24%{transform: rotate(468deg);}
    26%{transform: rotate(504deg); }
    28%{transform: rotate(540deg); }
    30%{transform: rotate(576deg);}
    32%{transform: rotate(612deg); }
    34%{transform: rotate(648deg); }
    36%{transform: rotate(684deg);}
    38%{transform: rotate(720deg);}
    40%{transform: rotate(756deg);}
    42%{transform: rotate(792deg);}
    44%{transform: rotate(828deg);}
    46%{transform: rotate(864deg);}
    48%{transform: rotate(900deg);}
    50%{transform: rotate(936deg);}
    52%{transform: rotate(972deg);}
    54%{transform: rotate(1008deg);}
    56%{transform: rotate(1044deg);}
    58%{transform: rotate(1080deg);}
    60%{transform: rotate(1116deg);}
    62%{transform: rotate(1152deg);}
    64%{transform: rotate(1188deg);}
    66%{transform: rotate(1224deg);}
    68%{transform: rotate(1260deg);}
    70%{transform: rotate(1296deg);}
    72%{transform: rotate(1332deg);}
    74%{transform: rotate(1368deg);}
    76%{transform: rotate(1404deg);}
    78%{transform: rotate(1440deg);}
    80%{transform: rotate(1476deg);}
    82%{transform: rotate(1512deg);}
    84%{transform: rotate(1548deg);}
    86%{transform: rotate(1584deg);}
    88%{transform: rotate(1620deg);}
    90%{transform: rotate(1656deg);}
    92%{transform: rotate(1692deg);}
    94%{transform: rotate(1728deg);}
    96%{transform: rotate(1764deg);}
    98%{transform: rotate(1800deg);}
    100%{transform: rotate(0deg);}
}
@keyframes grow {
    0%{transform: scale(1.0);}
    2%{transform: scale(1.1);}
    4%{transform: scale(1.2); }
    6%{transform: scale(1.3);}
    8%{transform: scale(1.4); }
    10%{transform: scale(1.5); }
    12%{transform: scale(1.6); }
    14%{ transform: scale(1.7);}
    16%{transform: scale(1.8); }
    18%{transform: scale(1.9); }
    20%{transform: scale(2); }
    22%{transform: scale(2.1); }
    24%{ transform: scale(2.2);}
    26%{transform: scale(2.3); }
    28%{transform: scale(2.4); }
    30%{transform: scale(2.5);}
    32%{transform: scale(2.6); }
    34%{transform: scale(2.7); }
    36%{transform: scale(2.8);}
    38%{transform: scale(2.9);}
    40%{transform: scale(3);}
    42%{transform: scale(3.1);}
    44%{transform: scale(3.2);}
    46%{transform: scale(3.3);}
    48%{transform: scale(3.4);}
    50%{transform: scale(3.5);}
    52%{transform: rotate(972deg);transform: scale(3.6);}
    54%{transform: rotate(1008deg);transform: scale(3.7);}
    56%{transform: rotate(1044deg);transform: scale(3.8);}
    58%{transform: rotate(1080deg);transform: scale(3.9);}
    60%{transform: rotate(1116deg);transform: scale(4);}
    62%{transform: rotate(1152deg);transform: scale(4.1);}
    64%{transform: rotate(1188deg);transform: scale(4.2);}
    66%{transform: rotate(1224deg);transform: scale(4.3);}
    68%{transform: rotate(1260deg);transform: scale(4.4);}
    70%{transform: rotate(1296deg);transform: scale(4.5);}
    72%{transform: rotate(1332deg);transform: scale(4.6);}
    74%{transform: rotate(1368deg);transform: scale(4.7);}
    76%{transform: rotate(1404deg);transform: scale(4.8);}
    78%{transform: rotate(1440deg);transform: scale(4.9);}
    80%{transform: rotate(1476deg);transform: scale(5);}
    82%{transform: rotate(1512deg);transform: scale(5);}
    84%{transform: rotate(1548deg);transform: scale(5);}
    86%{transform: rotate(1584deg);transform: scale(5);}
    88%{transform: scale(5);}
    90%{transform: scale(5);}
    92%{transform: scale(5);}
    94%{transform: scale(5);}
    96%{transform: scale(5);}
    98%{transform: scale(5);}
    100%{transform: scale(5);}
}


#test{
    animation: test 1s;
    transform: rotate(0deg);
}

@keyframes test{
    0%{transform: rotate(10deg);}
    2%{transform: rotate(10deg);}
    4%{transform: rotate(10deg);}
    6%{transform: rotate(10deg);}
    8%{transform: rotate(10deg);}
    10%{transform: rotate(10deg);}
    12%{transform: rotate(10deg);}
    14%{transform: rotate(10deg);}
    16%{transform: rotate(10deg);}
    18%{transform: rotate(10deg);}
    20%{transform: rotate(10deg);}
    22%{transform: rotate(10deg);}
    24%{transform: rotate(10deg);}
    26%{transform: rotate(10deg);}
    28%{transform: rotate(10deg);}
    30%{transform: rotate(10deg);}
    32%{transform: rotate(10deg);}
    34%{transform: rotate(10deg);}
    36%{transform: rotate(10deg);}
    38%{transform: rotate(10deg);}
    40%{transform: rotate(10deg);}
    42%{transform: rotate(10deg);}
    44%{transform: rotate(10deg);}
    46%{transform: rotate(10deg);}
    48%{transform: rotate(10deg);}
    50%{transform: rotate(10deg);}
    52%{transform: rotate(10deg);}
    54%{transform: rotate(10deg);}
    56%{transform: rotate(10deg);}
    58%{transform: rotate(10deg);}
    60%{transform: rotate(10deg);}
    62%{transform: rotate(-10deg);}
    64%{transform: rotate(-15deg);}
    66%{transform: rotate(-20deg);}
    68%{transform: rotate(-15deg);}
    70%{transform: rotate(-10deg);}
    72%{transform: rotate(-5deg);}
    74%{transform: rotate(0deg);}
    76%{transform: rotate(5deg);}
    78%{transform: rotate(10deg);}
    80%{transform: rotate(15deg);}
    82%{transform: rotate(20deg);}
    84%{transform: rotate(15deg);}
    86%{transform: rotate(5deg);}
    88%{transform: rotate(10deg);}
    90%{transform: rotate(15deg);}
    92%{transform: rotate(20deg);}
    94%{transform: rotate(15deg);}
    96%{transform: rotate(10deg);}
    98%{transform: rotate(5deg);}
    100%{transform: rotate(0deg);}
}