.opponent-player-deck_container-card{
    background: rgba(196, 196, 196, 0.5);
}

#opponent-player-deck_figure-profile-picture{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.life_image-bullet{
    height: 20px;
}

.shelf{
    /*background-image: url("/../../../../public/images/icons/shelf.jpg");*/
    display: inline-flex;
}

.single-shelf{
    /*background-image: url("/../../../../public/images/icons/shelf_single.png");*/
}

.deck-discard-pile_image-card{
    height: 125px;
}

.deck-discard-pile_container{
    display: flex;
    margin-top: 150px;
}

/*styling for dead players*/
#player-deck_div_p1, #opponent-deck_div_p1{
    font-size: 48px;
    animation: fadeIn ease 5s;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    z-index: 1;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      font-size: 48px;
    }
    25%{
        font-size: 0px;
    }
    50%{
        font-size: 48px;
    }
    75%{
        font-size: 0px;
    }
    100% {
      opacity: 1;
      font-size: 48px;
    }
}
/*styling to hightlight who's turn it is*/
#character-image_FigureImage{
    border-color: rgb(255, 251, 0);
    border-width: 5px;
}

#wiggle{
    animation: wiggle 0.5s;
    transform: rotate(0deg);
    /* animation-play-state: paused; */
}
@keyframes wiggle {
    0%{
        transform: rotate(5deg);
    }
    5%{
        transform: rotate(10deg);
    }
    10%{
        transform: rotate(15deg);
    }
    15%{
        transform: rotate(20deg);
    }
    20%{
        transform: rotate(15deg);
    }
    25%{
        transform: rotate(10deg);
    }
    30%{
        transform: rotate(5deg);
    }
    35%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(-5deg);
    }
    45%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(-15deg);
    }

    55%{
        transform: rotate(-20deg);
    }
    60%{
        transform: rotate(-15deg);
    }
    65%{
        transform: rotate(-10deg);
    }
    70%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(5deg);
    }
    85%{
        transform: rotate(10deg);
    }
    90%{
        transform: rotate(15deg);
    }
    95%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(15deg);
    }
}